# Ignore Gradle project-specific cache directory
.gradle
.idea
.nextflow
.nextflow.*
.DS_Store
trace_log.*

# Ignore Gradle build output directory
build
work
out
bin

# Ignore upload credentials
gradle.properties